rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function canWrite() { return request.auth != null; }

    match /projects/{id} {
      allow read: if resource.data.published == true;
      allow write, update, delete: if canWrite();
      allow create: if canWrite();
    }
    match /articles/{id} {
      allow read: if resource.data.published == true;
      allow write, update, delete: if canWrite();
      allow create: if canWrite();
    }
    match /offers/{id} {
      allow create: if true;
      allow read, update, delete: if canWrite();
    }
    match /collaborations/{id} {
      allow read: if resource.data.published == true;
      allow write, update, delete, create: if canWrite();
    }
  }
}
